<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
     background-color: #3b5998;
    }
    
  </style>
  <title>Machine Learning Project with Facebook Prophet</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*2fD9qRIlRAJay7D5NK3yEA.png" width="200px" height="auto" alt="Prophet logo"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/model">Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/results">Results</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron mt-4" style="background-color: white;">
      <h1 class="display-4">Machine Learning Project with Facebook Prophet</h1>
      <p class="lead">Welcome to our time series forecasting project using the powerful machine learning library Facebook Prophet. Navigate through the different pages to explore the data, model, and results of our project.</p>
      <hr class="my-4">
      <p>Learn more about Facebook Prophet and how it can help improve your time series forecasting.</p>
      <a class="btn btn-primary btn-lg" href="https://facebook.github.io/prophet/" target="_blank" role="button">Learn more</a>
    </div>
  </div>
</body>
</html>
